<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Spare parts List</h4>
                        
                    </div>
                    <div class="card-body ">
             
                        
                        <div class="addspare">

                         <button   type="button" class="btn btn-Warning  ">Add Spare<mat-icon>add_circle_outline</mat-icon></button>
                        
                        </div>
                        <hr style="width:100%;text-align:left;margin-left:0">

                       
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="tablehd">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Sp.Name
                                    </th>
                                    <th>
                                        Sp.price
                                    </th>
                                    <th>
                                       Brand
                                    </th>
                                    <th>
                                      Qty
                                    </th>
                                    <th>
                                        Edit
                                      </th>
                                      <th>
                                        Del
                                      </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td >
                                            $36,738
                                        </td>
                                        <td 
                                        
                                        >
                                            <a href='#'><mat-icon class="iconedt">edit</mat-icon></a>
                                        </td>
                                        <td>
                                        <a href='#'><mat-icon class="icondel">delete_forever</mat-icon></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td >
                                            $23,789
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>
  
