<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add Spare parts</h4>
                    
                    </div>

                    <div class="card-body">  
                        <form>  
                            <div class="row"> 
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Sp.ID" >
                                    </mat-form-field>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="sp.Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="sp.Brand" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="sp.Qty" type="number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="sp.price" type="number">
                                    </mat-form-field>
                                </div>

                            </div>
                            
                            <div class="subbtn" >
                                <button ps-3  type="button" class="btn btn-success button1 mr-2">Add</button>
                                <button type="button" class="btn btn-danger">Update</button>
                            </div>
                               
                        
                               
                            
                        </form>
                    </div>
                </div>
            </div>   
                    
        </div>
    </div>
  </div>
  
