
<div class="bootstrap-wrapper ">
    <div class="container  h-100">
        <div class="row h-100 align-items-center ">
            <div class="col-md-5 " style="border:1px solid black">
                <h1>GMS</h1>

            </div>
            <div class="col-md-5 offset-md-7 ">
                <mat-card>

                    <div class="container text-center ">
                        <img class="bdrlogo" src="../../assets/img/garage.png" style="height:120px ; width:140px" />
                    </div>
                    <h1 class="font-weight-bold">Login Here...</h1>
                    <form action="">
                        <!-- username area --> 

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>
                                Username
                            </mat-label>
                            <input required matInput placeholder="Enter Username" />



                        </mat-form-field>

                        <!-- password area -->


                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>
                                Password
                            </mat-label>
                            <input required matInput placeholder="Enter Password" />



                        </mat-form-field>

                        <!-- button area -->

                        <div class="    text-center">

                            <button type="button" class="btn btn-primary p">Log In</button>
                        </div>

                    </form>
                </mat-card>

            </div>
        </div>
    </div>
</div>
