
<div class="bootstrap-wrapper " style="height:100vh">
    <div class="container  text-center h-100">
        
        <div class="row h-100 flex-row align-items-center justify-content-center">
          
            <div class="col-md-5">
                <mat-card>

                    <div class="container text-center ">
                        <img class="bdrlogo" src="../../assets/img/garage.png" style="height:120px ; width:140px" />
                    </div>
                    <h1 class="font-weight-bold text-center">Login Here...</h1>
                    <form action="" #logForm="ngForm">
                        <!-- username area --> 

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>
                                Username
                            </mat-label>
                            <input required ngModel matInput placeholder="Enter Username" />   



                        </mat-form-field>

                        <!-- password area -->


                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>
                                Password
                            </mat-label>
                            <input required ngModel matInput placeholder="Enter Password" />



                        </mat-form-field>

                        <!-- button area -->

                        <div class="text-center">

                            <button  [disabled]="!logForm.valid" type="submit" class="btn btn-primary p ">Log In</button>
                            
                        </div>
                        <div class="text-center mt-2">
                           <a [routerLink]="['/signup']" class=" sign">Sign Up</a> 
                        </div>
                        

                    </form>
                </mat-card>

            </div>
        </div>
        
    </div>
</div>
