<div class="bootstrap-wrapper " style="height:100vh ">
    <div class="container text-center h-100">
        <div class="row h-100 d-flex flex-row align-items-center">
            <div class="col-md-4 offset-md-4 ">
                <mat-card>
                <div class="container text-center  ">
                    <img class="bdrlogo" src="../../assets/img/garage.png" style="height:120px ; width:140px" />
                  
                </div>
                <h3 class="text-center mt-2 font-weight-bold">Signup Here..</h3>
                <!-- {{user | json}} -->

                <form (ngSubmit) = "formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>
                            Name
                        </mat-label>
                        <input name="name" [(ngModel)]="user.name" style="padding:1px" required matInput placeholder="Enter Your name" />



                    </mat-form-field>

                    <!-- username area -->

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>
                            Username
                        </mat-label>
                        <input  name="username" [(ngModel)]="user.username" required matInput placeholder="Enter Username" />



                    </mat-form-field>

                    <!-- password area -->


                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>
                            Password
                        </mat-label>
                        <input name="password" [(ngModel)]="user.password" required matInput placeholder="Enter Password" />



                    </mat-form-field>

                    <!-- Role -->
                    <mat-form-field appearance="outline">
                        <mat-label>Role</mat-label>
                        <mat-select>
                          <mat-option name="role" [(ngModel)]="user.role" value="Admin">First option</mat-option>
                          <mat-option value="Supervisor">Second option</mat-option>
                          <mat-option value="accountants">Second option</mat-option>
                        </mat-select>
                      </mat-form-field>


                    <!-- email -->

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>
                            Email
                        </mat-label>
                        <input name="email" [(ngModel)]="user.email" type="email" required matInput placeholder="Enter Password" />
                    </mat-form-field>

                        <!-- button -->
                        <div class="container text-center">

                            <button type="submit" mat-raised-button color="primary">Signup</button>
                        </div>

                </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>