<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">New job Card</h3>
               
            </div>
            <div class="card-body">

            </div>


            <div class="container mt-4">
                <div>
                    <h5 class="headcenter mainhead">New Job Card</h5>
                </div>

                <form #signup="ngForm">

                    <!-- customer details -->

                    <div class="row">
                        <div class="col-12">
                            <div class=" bgheader pl-2 headborder ">
                                <h6>Customer Details</h6>

                            </div>
                            <div style="height: 300px ; border : 1px solid BLACK">
                                <div class="row mt-4 ">
                                    <div class="col-md-4 ml-4 ">
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label" for="form2Example1">
                                                <h6>Customer Name:</h6>
                                            </label>
                                            <input type="text" placeholder=" Enter Customer Name" ngModel
                                                name=" cust name" id="form2Example1" class="form-control">


                                        </div>
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label p-0" for="form2Example1">
                                                <h6>Customer Id:</h6>
                                            </label>
                                            <input type="text" placeholder="  Customer Id" ngModel name=" cust name"
                                                id="form2Example1" class="form-control mt-">


                                        </div>
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label" for="customerEmail">
                                                <h6>Email:</h6>
                                            </label>
                                            <input type="email" placeholder=" Enter Customers Email" ngModel
                                                name=" cust email" id="customerEmail" class="form-control">


                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label" for="custphone">
                                                <h6>Customer phone:</h6>
                                            </label>
                                            <input type="text" placeholder=" Enter Customers ph." ngModel
                                                name=" cust name" id="custphone" class="form-control">


                                        </div>
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label" for="custDate">
                                                <h6>Date:</h6>
                                            </label>
                                            <input type="date" placeholder=" Enter Customers ph." ngModel
                                                name=" cust name" id="custDate" class="form-control">


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- vehicle details -->
                    <div class="row">
                        <div class="col-12">
                            <div class=" bgheader pl-2 headborder ">
                                <h6>Customer Details</h6>

                            </div>
                            <div style="height: 300px ; border : 1px solid BLACK">
                                <div class="row mt-4 ">
                                    <div class="col-md-4 ml-4 ">
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label" for="vehicleNumber">
                                                <h6>Vehicle Number:</h6>
                                            </label>
                                            <input type="text" placeholder="Vehicle Number " ngModel name=" cust name"
                                                id="vehicleNumber" class="form-control">


                                        </div>
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label p-0" for="Brand">
                                                <h6>Brand/company:</h6>
                                            </label>
                                            <input type="text" placeholder="  Brand" ngModel name=" cust name"
                                                id="Brand" class="form-control mt-">


                                        </div>
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label" for="Fueltype">
                                                <h6>Fuel type:</h6>
                                            </label>
                                            <input type="text" placeholder=" Fuel type" ngModel name=" cust email"
                                                id="Fueltype" class="form-control">


                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label" for="Chassisnumber">
                                                <h6>Chassis number:</h6>
                                            </label>
                                            <input type="text" placeholder=" Chassis number" ngModel name=" cust name"
                                                id="Chassisnumber" class="form-control">


                                        </div>
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label" for="Vehiclecolor">
                                                <h6>Vehicle color:</h6>
                                            </label>
                                            <input type="text" placeholder=" Vehicle color" ngModel name=" cust email"
                                                id="Vehiclecolor" class="form-control">


                                        </div>
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label" for="Rdate">
                                                <h6>Registered Date:</h6>
                                            </label>
                                            <input type="date" placeholder=" Registered Date" ngModel name=" cust name"
                                                id="Rdate" class="form-control">


                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- services -->

                    <div class="row">
                        <div class="col-12">
                            <div class=" bgheader pl-2 headborder ">
                                <h6>Services</h6>

                            </div>
                            <div style="height: 300px ; border : 1px solid BLACK">
                                <div class="row mt-4 ">
                                    <div class="col-md-3 ml-4 ">
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label p-0" for="form2Example1">
                                                <h6>Service type:</h6>
                                            </label>
                                            <select class="custom-select  Mb-3  " aria-label="Default select example">
                                                <option selected>service type </option>
                                                <option value="1">service type1</option>
                                                <option value="2">service type2</option>
                                                <option value="3">service type3</option>
                                            </select>

                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label p-0" for="form2Example1">
                                                <h6>Service Name:</h6>
                                            </label>
                                            <select class="custom-select  Mb-4   " aria-label="Default select example">
                                                <option selected>service name </option>
                                                <option value="1">service name1</option>
                                                <option value="2">service name2</option>
                                                <option value="3">service name3</option>
                                            </select>

                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-outline col-12 mb-2  ">
                                            <label class="form-label " for="sCost">
                                                <h6>Service cost:</h6>
                                            </label>
                                            <input type="text" placeholder=" Service cost" ngModel name="servcost"
                                                id="sCost" class="form-control">

                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-outline col-12 mb-4 mt-2 ">
                                            <label class="form-label " for="sCost">
                                                <h6></h6>
                                            </label>
                                            <div>

                                                <button mat-raised-button color="warn">Warn</button>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- spare -->

                        <div class="row">
                            <div class="col-12">
                                <div class=" bgheader pl-2 headborder ">
                                    <h6>Spare</h6>

                                </div>
                                <div style="height: 300px ; border : 1px solid BLACK">
                                    <div class="row mt-4 ">
                                        <div class="col-md-2 ml-4 ">
                                            <div class="form-outline col-12 mb-2  ">
                                                <label class="form-label p-0" for="form2Example1">
                                                    <h6>Brand:</h6>
                                                </label>
                                                <select class="custom-select  Mb-3  "
                                                    aria-label="Default select example">
                                                    <option selected>Brand</option>
                                                    <option value="1">Brand1</option>
                                                    <option value="2">Brand2</option>
                                                    <option value="3">Brand3</option>
                                                </select>

                                            </div>

                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-outline col-12 mb-2  ">
                                                <label class="form-label p-0" for="form2Example1">
                                                    <h6>Model Name:</h6>
                                                </label>
                                                <select class="custom-select  Mb-4   "
                                                    aria-label="Default select example">
                                                    <option selected>Model Name </option>
                                                    <option value="1">Model Name1</option>
                                                    <option value="2">Model Name2</option>
                                                    <option value="3">Model Name3</option>
                                                </select>

                                            </div>

                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-outline col-12 mb-2  ">
                                                <label class="form-label p-0" for="form2Example1">
                                                    <h6>Spare name</h6>
                                                </label>
                                                <select class="custom-select  Mb-4   "
                                                    aria-label="Default select example">
                                                    <option selected>Spare Name </option>
                                                    <option value="1">Spare name1</option>
                                                    <option value="2">Spare name2</option>
                                                    <option value="3">Spare name3</option>
                                                </select>

                                            </div>

                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-outline col-12 mb-2  ">
                                                <label class="form-label " for="sCost">
                                                    <h6>Qty:</h6>
                                                </label>
                                                <input type="text" placeholder="Qty " ngModel name="servcost" id="sCost"
                                                    class="form-control">

                                            </div>

                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-outline col-12 mb-2  ">
                                                <label class="form-label " for="spCost">
                                                    <h6>spare cost</h6>
                                                </label>
                                                <input type="text" placeholder="spare cost " ngModel name="servcost"
                                                    id="spCost" class="form-control">

                                            </div>

                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-outline col-12 mb-4 mt-2 ">
                                                <label class="form-label " for="sCost">
                                                    <h6></h6>
                                                </label>
                                                <div>

                                                    <button mat-raised-button color="warn">Add</button>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- submit -->
                        <div class="subbtn">

                            <button mat-raised-button color="primary" >Submit</button>
                        </div>
                    </div>

                </form>
            </div>
       </div>
    </div>
</div>