<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">New job Card</h4>
                        <p class="card-category">Complete your Card</p>
                    </div>
                    <div class="card-body">
                        <form>

                            <!-- customer info -->

                            <div>
                                <h4 class="font-weight-bold">Customer Information</h4>
                                <hr style=" margin-top: -10px ; height:2px;border-width:0;color:#33b5e5;background-color:#33b5e5">
                            </div>
                            <div class="row">

                                <div class="col-md-4">

                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Telephone</mat-label>
                                        <!-- <span matPrefix>+1 &nbsp;</span> -->
                                        <input type="tel" matInput placeholder="555-555-1234">
                                        <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2" style="margin-top:7px; margin-right: 2px;">
                                    <button type="button" class="btn btn-info btn-sm">Search</button>
                                </div>



                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email address" type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="First Name" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Last Name" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Address" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="City" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Country" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Postal Code" type="text">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <hr style="width:100%;text-align:left;margin-left:0">





                           <!-- vehicle details -->

                            <div>
                                <h4 class="font-weight-bold">Vehicle Details</h4>
                                <hr style=" margin-top: -10px ; height:2px;border-width:0;color:#33b5e5;background-color:#33b5e5">
                            
                            </div>
                            <div class="row">

                                <div class="col-md-4">

                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Vehicle number</mat-label>
                                        <!-- <span matPrefix>+1 &nbsp;</span> -->
                                        <input type="text" matInput placeholder="MH01A1234">
                                        <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2" style="margin-top:7px; margin-right: 2px;">
                                    <button type="button" class="btn btn-info btn-sm">Search</button>
                                </div>
                            </div>   


                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="company/model name" type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="model year " type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">

                                        <mat-form-field class="example-full-width">
                                            <mat-label>Fuel type</mat-label>
                                            <mat-select>
                                                <mat-option value="Disel">Disel</mat-option>
                                                <mat-option value="Petrol">Petrol</mat-option>
                                                <mat-option value="CNG">CNG</mat-option>
                                                <mat-option value="EV">EV</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    
                                    
                                </div>
                            




                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="color" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5 ">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="chassis number" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                     <mat-form-field class="example-full-width">
                                        <mat-label>Registered date</mat-label>
                                        <input matInput [matDatepicker]="picker">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="picker">
                                          <mat-icon matDatepickerToggleIcon></mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field> 
                                      
                                </div>
                            </div>
                            <hr style="width:100%;text-align:left;margin-left:0">
                          
                          <!-- services -->
                           
                        <div>
                            <h4 class="font-weight-bold">Services</h4>
                            <hr class="hrline">
                              
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>service type</mat-label>
                                    <mat-select>
                                        <mat-option value='a'>1</mat-option>
                                        <mat-option value='b'>2</mat-option>
                                        <mat-option value='c'>3</mat-option>
                                        <mat-option value='d'>4</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>service Name</mat-label>
                                    <mat-select>
                                        <mat-option value='a'>1</mat-option>
                                        <mat-option value='b'>2</mat-option>
                                        <mat-option value='c'>3</mat-option>
                                        <mat-option value='d'>4</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <input matInput placeholder="Service Cost" type="text">
                                </mat-form-field>
                            </div>
                            <div class="col-md-1" style="margin-top:12px;" >
                               
                                    <a href="#"><mat-icon class="iconadd">add_box</mat-icon></a>

                            </div>

                        </div>
                        
                        <!-- table -->
                        <!-- <div class="main-content">
                            <div class="container-fluid"> -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <!-- <div class="card-header card-header-danger">
                                                <h4 class="card-title ">Simple Table</h4>
                                                <p class="card-category"> Here is a subtitle for this table</p>
                                            </div> -->
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class=" tablehd">
                                                            <th>
                                                                ID
                                                            </th>
                                                            <th>
                                                                Service type
                                                            </th>
                                                            <th>
                                                                Service Name
                                                            </th>
                                                            <th>
                                                                Service cost
                                                            </th>
                                                            
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    1
                                                                </td>
                                                                <td>
                                                                    Dakota Rice
                                                                </td>
                                                                <td>
                                                                    Niger
                                                                </td>
                                                                
                                                                <td class="tablehd">
                                                                    $36,738
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    2
                                                                </td>
                                                                <td>
                                                                    Minerva Hooper
                                                                </td>
                                                                <td>
                                                                    Curaçao
                                                                </td>
                                                               
                                                                <td class="tablehd">
                                                                    $23,789
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    3
                                                                </td>
                                                                <td>
                                                                    Sage Rodriguez
                                                                </td>
                                                                <td>
                                                                    Netherlands
                                                                </td>
                                                               
                                                                <td class="tablehd">
                                                                    $56,142
                                                                </td>
                                                            </tr>
                                                            
                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        <div class="row">
                            <div class="col-md-6 offset-md-3  ">
                                <h4 >Total Service Cost = </h4>
                            </div>
                        </div>
                        <hr style="width:100%;text-align:left;margin-left:0">


                      <!-- Sparepart section       -->
                      <div>
                        <h4 class="font-weight-bold">Spare</h4>
                        <hr class="hrline">
                          
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Car Name</mat-label>
                                <mat-select>
                                    <mat-option value='a'>1</mat-option>
                                    <mat-option value='b'>2</mat-option>
                                    <mat-option value='c'>3</mat-option>
                                    <mat-option value='d'>4</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">

                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Spare Name</mat-label>
                                <mat-select>
                                    <mat-option value='a'>1</mat-option>
                                    <mat-option value='b'>2</mat-option>
                                    <mat-option value='c'>3</mat-option>
                                    <mat-option value='d'>4</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput placeholder="Qty" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput placeholder="Spare Cost" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-md-1" style="margin-top:12px;" >
                           
                                <a href="#"><mat-icon class="iconadd">add_box</mat-icon></a>

                        </div>

                    
                        

                    </div>
                    
                    <!-- table -->
                    <!-- <div class="main-content">
                        <div class="container-fluid"> -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <!-- <div class="card-header card-header-danger">
                                            <h4 class="card-title ">Simple Table</h4>
                                            <p class="card-category"> Here is a subtitle for this table</p>
                                        </div> -->
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class=" tablehd">
                                                        <th>
                                                            ID
                                                        </th>
                                                        <th>
                                                            Car Name
                                                        </th>
                                                        <th>
                                                            Spare Name
                                                        </th>
                                                        <th>
                                                            Qty
                                                        </th>
                                                        <th>
                                                            Spare Cost
                                                         </th>
                                                        
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                1
                                                            </td>
                                                            <td>
                                                                Dakota Rice
                                                            </td>
                                                            <td>
                                                                Niger
                                                            </td>
                                                            <td>
                                                                Netherlands
                                                            </td>
                                                           
                                                            
                                                            <td class="tablehd">
                                                                $36,738
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                2
                                                            </td>
                                                            <td>
                                                                Minerva Hooper
                                                            </td>
                                                            <td>
                                                                Curaçao
                                                            </td>
                                                            <td>
                                                                Netherlands
                                                            </td>
                                                           
                                                           
                                                            <td class="tablehd">
                                                                $23,789
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                3
                                                            </td>
                                                            <td>
                                                                Sage Rodriguez
                                                            </td>
                                                            <td>
                                                                Netherlands
                                                            </td>
                                                            <td>
                                                                Netherlands
                                                            </td>
                                                           
                                                           <td class="tablehd">
                                                                $56,142
                                                            </td>
                                                        </tr>
                                                        
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3  ">
                            <h4 >Total Spare Cost = </h4>
                        </div>
                    </div>

                    <button type="button" class="btn btn-danger subbtn ">Submit</button>
                    <hr style="width:100%;text-align:left;margin-left:0">

 
                    
                
                          


                      </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- table -->

