.subbtn{
    
    margin: auto;
    margin-bottom: 30px;
    margin-top: 15px ;
   

}

.bgheader{
    background-color:#cdd3d8 ;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headborder{
    border:1px solid black
}