/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bgheader{
    background-color:#cdd3d8 ;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.cardcenter{
   height: 100% ;
    margin-top: 130px;
    
}
.bgcolor{
    background-color:#e7ebf0 ;
        
}
/* .logcont{
    background:url("../src/assets/img/prod-1.jpg") ;
} */

.full-height {
    height: 100vh;
}

.selectwidth{
    width: 10px;
}
.headcenter{

    color: rgb(76, 92, 230);
    text-align: center;
}
.headborder{
    border:1px solid black
}

.subbtn{
    
    margin: auto;
    margin-bottom: 30px;
    margin-top: 15px ;
   

}

.mainhead{
    border:1px solid skyblue;
    padding: 5px;
}

.addnewbtn{
  text-align:right  ;
}
.centerBox {
    display:flex;
    justify-Content: "flex-end";
    align-Items: "flex-end";
  }
  
.text-center{
    text-align: center;
}
.full-width{
    width:100%
}

.mt20{
    margin-top: 10px;
}

.bdrlogo{
    border:1px solid skyblue;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 0px;
   
    
}

.mt0{
margin-top: 0px;
}

<<<<<<< HEAD
.imgbg{
background: url("./assets/img/car.jpg");
}
=======
.bgimg{
 background: url('./assets/img/car.jpg');
}

.btnfrm{
    
  padding: auto 1px;
}

.hrline{
 margin-top: -10px ; 
 height:2px;
 border-width:0;
 color:#33b5e5;
 background-color:#33b5e5;
}

.iconadd{
    color:white;
    background-color: #33b5e5;

}

.totalcost{
    border: 1px solid #33b5e5 ;
}
.tablehd{
    color:#33b5e5
}
.addspare{
    text-align: end;
}
.icondel{
    color:white;
    background-color: red;

}
.iconedt{
    color:black;
    background-color: rgb(33, 236, 60);
    margin-right: 13px;

}

.button1 {padding: 10px 18px;}

.subbtn{
    text-align:center ;
    margin-top:15px;
}
.p {
    background-color:#4285F4 !important;
  }

  .myauto{
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

  .sign{
      color:#4285F4 !important ;
  }

  .formbdr{
      border: 1px solid black;
  }

  input.ng.invalid.ng.touched{
      border-color: red;
  }
>>>>>>> 8c0064c64fe7abc703d078287d4aec7bdba88f9a
